@import "@fontsource/inter";
@import "@fontsource/inter/400.css"; /* Regular */
@import "@fontsource/inter/500.css"; /* Medium */
@import "@fontsource/inter/700.css"; /* Bold */
@import "@fontsource/gloock";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

.get-started-bg {
  background-image: url('/app/get-started.png');
  background-size: cover;
  background-position: center;
}

@media (min-width: 1024px) {

  /* Desktop */
  .get-started-bg {
    background-image: url('/app/get-started.jpeg');
  }
}