@import "@fontsource/inter";
@import "@fontsource/inter/400.css"; /* Regular */
@import "@fontsource/inter/500.css"; /* Medium */
@import "@fontsource/inter/700.css"; /* Bold */
@import "@fontsource/gloock";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

input, select {
  background-color: #FFF !important;
}

.get-started-bg {
  background-image: url('/app/get-started.jpeg');
  background-size: cover;
  background-position: center;
}

.recommendations-bg {
  background-image: url('/app/recommendations-bg.png');
  background-size: cover;
  background-position: center;
}

/* index.css ou no componente */
.scroll-visible::-webkit-scrollbar {
  width: 12px; /* Largura da barra de scroll */
}

.scroll-visible::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Cor do fundo da barra de scroll */
}

.scroll-visible::-webkit-scrollbar-thumb {
  background-color: #EB970C; /* Cor da barra de scroll */
  border-radius: 6px;
  border: 2px solid #f0f0f0; /* Espaço entre o track e o thumb */
}

.scroll-visible::-webkit-scrollbar-thumb:hover {
  background-color: #d47d00; /* Cor ao passar o mouse */
}